.logo {
    width: 21% !important;
    margin-left: 38vw !important;
}
.navbar {
    background-color: #f3ff44;
}
.signoutbtn {
    border: 0 !important;
    background-color: transparent !important;
    font-size: 28px !important;
    color: black !important;
    padding: 0 !important;
}
.signoutbtn2 {
    color: black !important;
}