.logo {
    width: 21% !important;
    margin-left: 38vw !important;
}
.navbar {
    background-color: #f3ff44;
}
.signoutbtn {
    border: 0 !important;
    background-color: transparent !important;
    color: black !important;
    padding: 0 !important;
}
#signoutbtn2 {
    color: black !important;
    font-size: 40px !important;
}
@media only screen and (max-width: 1367px) {
    .logo {
        width: 18% !important;
        margin-left: 40vw !important;
    }
    #signoutbtn2 {
        font-size: 25px !important;
    }
}
@media only screen and (max-width: 768px) {
    .logo {
        width: 28% !important;
        margin-left: 35vw !important;
    }
}
@media only screen and (max-width: 415px) {
    .logo {
        width: 37% !important;
        margin-left: 28vw !important;
    }
    #signoutbtn2 {
        font-size: 19px !important;
    }
}
@media only screen and (max-width: 376px) {
    .logo {
        width: 46% !important;
        margin-left: 24vw !important;
    }
}