.garageInfo{
    color: white;
    /* min-height:; */
}

.garageTitles{
    font-size: 33px
}

#garageUserName{
    font-size: 37px;
}

@media only screen and (max-width: 590px){
    .garageInfo{
        display: none;
    }

    .cashmoney {
        /* text-align: center; */
        font-size: 23px; 
        margin-right: 9%
        
    }
    .userName{
        font-size: 50px,
    }
}

