.garageInfo{
    color: white;
    /* min-height:; */
}

.garageTitles{
    font-size: 33px;
}
.garageInfo {
    line-height: 2;
    text-align: center;
}

#garageUserName{
    font-size: 25px;
    line-height: 1.5;
    margin-top: 5%;
    margin-bottom: 6%;
    /* float: left; */
    color: #e97718;
    text-align: center
}
.cashmoney {
    margin-bottom: 4%;
    text-align: center;
    margin-left: 8%
}
.slidecontainer {
    margin-top: -16%
}
.invcon {
    margin-top: -4%;
    margin-bottom: 8%
}
.inv {
    font-size: 22px;
    margin-bottom: 4%;
}
.itemimg {
    width: 22% !important;
}
.garitems {
    position: relative;
    left: auto;
    right: auto;
    padding-top: 30px !important;
    padding-bottom: 20px !important; 
    width: 80%;
}
.garbuy {
    background-color: #ff9800;
    border: none;
    height: 27px;
    width: 140px; 
}
.scoreboardcol{
    margin-bottom: 5%
}
@media only screen and (max-width: 590px){
    .cashmoney {
        /* text-align: center; */
        font-size: 23px; 
        margin-right: 9%
        
    }
    .userName{
        font-size: 50px,
    }
}
@media only screen and (max-width: 415px) {
    #garageUserName {
      font-size: 22px !important;
    }
    .cashmoney {
      font-size: 18px !important;
    }
    .itemimg {
        width: 32% !important;
    }
  }
@media only screen and (max-width: 376px) {
    #garageUserName {
      font-size: 19px !important;
    }
    .cashmoney {
      font-size: 15px !important;
    }
    .garageInfo {
        font-size: 15px !important;
    }
  }

