.selling {
  text-align: center;
  margin-top: 4%;
}

.sellingcap {
  line-height: 2;
}

.sellingimg {
  width: 90%;
  background-color: rgb(253, 253, 253);
}

.sellingbtn {
  background-color: #f3ff44;
  border: none;
  padding: 2%;
  outline: none;
}

.sellingbtn:focus {
  border: none;
  outline: 0;
}
.sellingsub {
  text-align: center;
  padding-top: 8%;
  color: rgb(255, 145, 0);
  font-size: 20px;
  width: 63%;
  margin: auto;
  padding-bottom: 2%;
  border-bottom: 1px solid;
}
.sellingcon {
  margin: auto;
}
.sellingcontainer {
  position: relative;
}