.logoimg {
    width: 60%;
}
.logoimg2 {
    width: 90%;
}
.logoimg5 {
    width: 35%;
}
#loginbtn {
    visibility: hidden;
}
.main_container {
    height: 100vh;
    background-color: #f3ff44 !important;
}
#firebaseui_container {
    padding-top: 50vh !important;
}
.firebaseui-idp-text.firebaseui-idp-text-long {
    font-family: Roboto,Helvetica,Arial,sans-serif !important;
}

button {
    bottom: 0;
    align-self: center;
    border: 2px solid black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.9;
    border-color: #ff9800;
    color: orange;
  }
  
button:hover {
    bottom: 0;
    align-self: center;
    border: 2px solid black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    opacity: 0.9;
    background: #ff9800;
    color: white;
    cursor: grab
  }