.logoimg {
    width: 60%;
}
.logoimg2 {
    width: 90%;
}
.logoimg5 {
    width: 35%;
}
.loginpage {
    background-color: #f3ff44 !important;
}
#loginbtn {
    visibility: hidden;
    margin-top: 50vh;
    margin-left: 40vw;
}
.btndiv {
    height: 100vh;
}