/* body {
    justify-content: center;
    text-align: center
} */

#inp {
    bottom: 0;
    align-items: center;
    position: absolute;
    border: 2px solid black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.9;
    border-color: #ff9800;
    color: orange;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

#inp:hover {
    bottom: 0;
    align-self: center;
    position: absolute;
    border: 2px solid black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    opacity: 0.9;
    background: #ff9800;
    color: white;
    cursor: grab
}

#animationGif {
    padding-top: 15%;
    margin-top: 20%;
    align-content: center;
}
.resultcontainer {
    margin-top: 6%;
    text-align: center;
}
.finishbtn {
    display: block;
    margin: auto;
    margin-top: 3%;
    background-color: #ff9800;
    border: none;
    height: 27px;
    width: 150px;
}
.result {
    line-height: 2;
    font-size: 22px;
    color: #ff9800;
}
.text {
    line-height: 2;
}
svg {
    color: #f3ff44;
    font-size: 20px;
}