a {
    margin: 1%;
    font-size: 12px;
    padding: 1%;
}
.nav2 {
    text-align: center;
    padding: 3% 0;
    background-color: #f3ff44;
    padding-bottom: 4%
}
.link:hover{
    background-color: orange;
    cursor: pointer;
    color: black;
    text-decoration: none;
}